<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>SPY ON CRYPTO</title>
		<meta name="description" content="We are Spy On Crypto. We are Legion. We do not forgive, THE CORRUPT FEAR US · THE HONEST SUPPORT US · THE HEROIC JOIN US " />
		<meta name="keywords" content="crypto, bsc, eth, audit, token" />
		<meta name="author" content="Spy On Crypto" />
		<link rel="shortcut icon" href="favicon.ico">
		<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
	<link href="css/vendors.css" rel="stylesheet"><link href="css/demo5.css" rel="stylesheet"></head>
	<body>
		<div class="overlay"></div>
		<main>
			<div class="frame">
				<div class="frame__title-wrap">
					<h1 class="frame__title">SPY ON CRYPTO</h1>
				</div>
				<!-- <a class="frame__github" href="https://github.com/Jeremboo/animated-mesh-lines">GitHub</a> -->
				<div class="frame__links">
					<a href="">Roadmap (Coming Soon)</a>
					<a href="/posts">Audited Project</a>
				</div>
				<div class="frame__demos">
					<a href="" class="frame__demo frame__demo--current">Buy SPY ON CRYPTO Token (Coming Soon)</a>
				</div>
			</div>
		</main>
	<script type="text/javascript" src="js/vendors.js"></script><script type="text/javascript" src="js/demo5.js"></script></body>
</html>
